{% extends "base.html" %}


{% block content %}


<h1 class="display-6 text-center py-4">Upload Data</h1>

{% if messages %}
{% for message in messages %}
<div>
    <!-- | means OR operator-->
    <strong>{{message|safe}}</strong>
</div>
{% endfor %}
{% else %}
{{order}}
<form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="file1" class="form-label"> Upload a file</label>
    <input class="form-control form-control-sm" type="file" id="file1" name="file">

    <select class="form-select" aria-label="Default select example">
        <option selected>Choose one option</option>
        <option value="1">Building Data</option>
        <option value="2">Meter Data</option>
        <option value="3">Half Hourly Data</option>
    </select>

    <button class="btn btn-outline-dark mt-3" type="submit">Upload</button>
    <p class="pt-3"><small>* Only accepts CSV files</small></p>
</form>
{% endif %}
{% for profile in profiles %}
{{profile.name}}
{% endfor %}


{% endblock %}