html {
    scroll-behavior: smooth;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
    overflow-x: hidden;
    background: #fff;
  }
  
  h1 {
    font-size: 22px;
  }